footer {
  .contacts {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      color: #9fa1ae;

      font-size: 35px;

      margin: 0 0.5rem;

      &:hover {
        color: #898b96;
      }
    }
  }
}
